In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as mlt
import missingno as ms
%matplotlib inline

In [2]:
black=pd.read_csv('train.csv')

In [3]:
black.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [4]:
black.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 12 columns):
User_ID                       550068 non-null int64
Product_ID                    550068 non-null object
Gender                        550068 non-null object
Age                           550068 non-null object
Occupation                    550068 non-null int64
City_Category                 550068 non-null object
Stay_In_Current_City_Years    550068 non-null object
Marital_Status                550068 non-null int64
Product_Category_1            550068 non-null int64
Product_Category_2            376430 non-null float64
Product_Category_3            166821 non-null float64
Purchase                      550068 non-null int64
dtypes: float64(2), int64(5), object(5)
memory usage: 50.4+ MB

In [5]:
black.corr()

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
User_ID,1.000000,-0.023971,0.020443,0.003825,0.001529,0.003419,0.004716
Occupation,-0.023971,1.000000,0.024280,-0.007618,-0.000384,0.013263,0.020833
Marital_Status,0.020443,0.024280,1.000000,0.019888,0.015138,0.019473,-0.000463
Product_Category_1,0.003825,-0.007618,0.019888,1.000000,0.540583,0.229678,-0.343703
Product_Category_2,0.001529,-0.000384,0.015138,0.540583,1.000000,0.543649,-0.209918
Product_Category_3,0.003419,0.013263,0.019473,0.229678,0.543649,1.000000,-0.022006
Purchase,0.004716,0.020833,-0.000463,-0.343703,-0.209918,-0.022006,1.000000

In [6]:
black.drop('Product_ID',axis=1,inplace=True)

In [7]:
sex=pd.get_dummies(black['Gender'],drop_first=True)

In [8]:
black['Age'].unique()

array(['0-17', '55+', '26-35', '46-50', '51-55', '36-45', '18-25'], dtype=object)

In [9]:
black['Age']=black['Age'].replace(['0-17'],9)
black['Age']=black['Age'].replace(['55+'],55)
black['Age']=black['Age'].replace(['26-35'],30)
black['Age']=black['Age'].replace(['46-50'],48)
black['Age']=black['Age'].replace(['51-55'],53)
black['Age']=black['Age'].replace(['36-45'],40)
black['Age']=black['Age'].replace(['18-25'],21)

In [10]:
black['City_Category'].unique()

array(['A', 'C', 'B'], dtype=object)

In [11]:
city=pd.get_dummies(black['City_Category'],drop_first=True)

In [12]:
black['Stay_In_Current_City_Years'].unique()

array(['2', '4+', '3', '1', '0'], dtype=object)

In [13]:
black['Stay_In_Current_City_Years']=black['Stay_In_Current_City_Years'].replace(['2'],2)
black['Stay_In_Current_City_Years']=black['Stay_In_Current_City_Years'].replace(['4+'],4)
black['Stay_In_Current_City_Years']=black['Stay_In_Current_City_Years'].replace(['3'],3)
black['Stay_In_Current_City_Years']=black['Stay_In_Current_City_Years'].replace(['1'],1)
black['Stay_In_Current_City_Years']=black['Stay_In_Current_City_Years'].replace(['0'],0)

In [14]:
black['Product_Category_3'].unique()

array([ nan,  14.,  17.,   5.,   4.,  16.,  15.,   8.,   9.,  13.,   6.,
        12.,   3.,  18.,  11.,  10.])

In [15]:
black['Product_Category_2'].fillna(7,inplace=True)

In [16]:
black['Product_Category_3'].fillna(10,inplace=True)

In [17]:
black.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 11 columns):
User_ID                       550068 non-null int64
Gender                        550068 non-null object
Age                           550068 non-null int64
Occupation                    550068 non-null int64
City_Category                 550068 non-null object
Stay_In_Current_City_Years    550068 non-null int64
Marital_Status                550068 non-null int64
Product_Category_1            550068 non-null int64
Product_Category_2            550068 non-null float64
Product_Category_3            550068 non-null float64
Purchase                      550068 non-null int64
dtypes: float64(2), int64(7), object(2)
memory usage: 46.2+ MB

In [18]:
black.drop(['Gender','City_Category','User_ID','Stay_In_Current_City_Years','Age','Occupation','Marital_Status'],axis=1,inplace=True)

In [19]:
black=pd.concat([black,city],axis=1)

In [20]:
#black.drop(['C'],axis=1,inplace=True)

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
X_train, X_test, y_train, y_test = train_test_split(black.drop('Purchase',axis=1), 
                                                    black['Purchase'], test_size=0.20, 
                                                    random_state=42)

In [23]:
from sklearn.ensemble import RandomForestRegressor

# Build the Model.
logmodel = RandomForestRegressor()
logmodel.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [24]:
predictions =  logmodel.predict(X_test)

In [25]:
from sklearn import metrics
print('MAE:', metrics.mean_absolute_error(y_test, predictions))
print('MSE:', metrics.mean_squared_error(y_test, predictions))
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, predictions)))

MAE: 2203.39396348
MSE: 8672117.87128
RMSE: 2944.8459843

In [26]:
test=pd.read_csv('test.csv')